body {
  font-family: Arial, sans-serif;
  background-color: #dcf2f1;
  margin: 0;
  padding: 0;
  
}

header {
  background-color: #7fc7d9;
  color: #000000;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #365486;
  padding: 10px;
  display: flex;
  justify-content: end; 
}


nav a {
  color: #c2b8b8;
  text-decoration: none;
  margin-right: 15px;
  font-size: 20px;
}

main{
  text-align: center;
}
form {
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #000000;
  font: bold;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  background-color:#3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #7fc7d9;
  color: black;
  padding: 10px;
  text-align: center;
  bottom: 0;
  margin: 0;
  line-height: 50px;
  margin-bottom: 5px
}
