body {
  font-family: Arial, sans-serif;
  background-color: #dcf2f1;
  margin: 0;
  padding: 0;
}

header {
  background-color: #7fc7d9;
  color: #000000;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #365486;
  padding: 10px;
  display: flex;
  justify-content: end; 
}


nav a {
  color: #c2b8b8;
  text-decoration: none;
  margin-right: 15px;
  font-size: 20px;
}

section {
  padding: 10px;
  font-size: 25px;
}

main {
  display: block;
  float: right;
  margin-left: 50px auto;
}

main img {
  width: 470px;
  height: 360px;
}

footer {
  background-color: #7fc7d9;
  color: black;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: blue;
}

footer h4 {
  font-size: 15px;
  margin-bottom: 5px;
}
